  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

    body {
      font-family: 'Fredoka One', cursive, sans-serif;
      text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
      background: linear-gradient(135deg, #def3fd 0%, #def3fd 100%);
      margin: 0;
      color: #e67e22;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a.back-button {
      padding-top: 20px;
      align-self: flex-start;
      margin-bottom: 15px;
      font-weight: 900;
      font-size: 1.5rem;
      color: #f39c12;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px;
      user-select: none;
      cursor: pointer;
      transition: color 0.3s;
    }

  /* Estilos generales del karaoke */
  .karaoke-main {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  /* Imagen de inicio */
  .karaoke-image {
      max-width: 60vw;  /* 50% del ancho de la pantalla */
      height: auto;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.3s;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }


  .karaoke-image:hover {
      transform: scale(1.03);
  }

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

  #karaoke-phrase {
      font-family: 'Patrick Hand', cursive;
      text-shadow: 1px 1px 0 #000;
      font-size: 1.3rem; /* Un poco más grande para mejor lectura */
  }

  #karaoke-feedback {
      font-family: 'Patrick Hand', cursive;
      text-shadow: 1px 1px 0 #000;
      font-size: 1.3rem;
  }

  /* Botón */
  #retry-button {
    
      padding: 10px 25px;
      background-color: #ffffff;
      border-radius: 50px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      margin: 10px auto;
  }

    #retry-button:hover {
        background-color: #e67e22;
    }
    
    a.back-button:hover {
      color: #e67e22;
    }

    a.back-button svg {
      width: 36px;
      height: 36px;
      fill: #f39c12;
      flex-shrink: 0;
    }
    
    #Titulo{
      font-size: 40px;
      margin-top: 0px;
    }